* {
    margin: 0;
    padding: 0
}

.header {
    background-color: #1F2937;
}

.section.quote {
    background-color: #E5E7EB;
}

.sign-up-banner {
    background-color: #3882F6;
}

.sign-up-button {
    background-color: #3882F6;
    border-color: white;
}