
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* border: 2px solid pink; */
}

.header {
    display: flex;
    justify-content:space-around;
    flex: auto;
    background-color: #1F2937;

    /* border: 2px solid yellow; */
}

.left {
    display: flex;
    flex: auto;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;

    /* border: 2px solid turquoise; */
}

.right {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;

    /* border: 2px solid magenta; */
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.container {
    display: flex;
    flex-direction: column;
    flex: auto;

    /* border: 2px solid blueviolet; */
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 100px;

    justify-content: center;
    align-items: center;
}

.hero-information {
    flex: auto;
}

.hero-image {
    min-width: 250px;
    flex: auto;
}

.hero-information .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-information .secondary-text, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.information-title{
    display: flex;
    flex: auto;
    justify-content: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    padding: 30px;
}

.information-container {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 52px;
    padding-bottom: 30px;

    /* border: 2px solid red; */
}

.info {
    padding: 16px;
    max-width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    /* border: 2px solid #3882F6; */
}

.text {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 120px;
    gap: 16px;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
}

.quote-author {
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
    align-self: flex-end;
}

.sign-up-banner-text-container .main-text {
    font-size: 16px;
    color: #F9FAF8;
    font-weight: 600;
}

.sign-up-banner-text-container .secondary-text {
    font-size: 14px;
    color: #E5E7EB;
}

.sign-up {
    padding: 50px 100px;
}

.sign-up-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    border-radius: 5px;
    background-color: #3882F6;
    min-width: 300px;
    padding: 10px 20px;
}

.sign-up-button {
    background-color:  #3882F6;
    color: white;
    border-color: white;
    border-radius: 5px;
    padding: 2px 12px;
    font-weight: 700;
}

.hero .sign-up-button {
    border: None;
}

.footer {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

a {
      /* this removes the line under the links */
    text-decoration: none;

    /* this inherits the color of the parent */
    color: inherit;
}

.header-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}
